<!-- {% extends 'base.html' %}

{% block content %}
<h2> SEARCH PAGE</h2>

<div class="container col-md-6">
    
    <form class="search">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

<div class="chevron-container">
    <div class="chevron-orange-right">
       <span class="chevron-text">Career</span>
    </div>
    <div class="chevron-orange-right">
       <span class="chevron-text">Health</span>
    </div>
    <div class="chevron-orange-right">
       <span class="chevron-text">Sales</span>
    </div>
    <div class="chevron-orange-right">
       <span class="chevron-text">Tradeshows</span>
    </div>
    <div class="chevron-orange-right">
       <span class="chevron-text">Business</span>
    </div>
  </div>
  
  <div class="chevron-container">
     <div class="chevron-blue-right">
       <span class="chevron-text">Networking</span>
     </div>
     <div class="chevron-blue-right">
       <span class="chevron-text">Education</span>
     </div>
     <div class="chevron-blue-right">
       <span class="chevron-text">Marketing</span>
     </div>
     <div class="chevron-blue-right">
       <span class="chevron-text">Innovation</span>
     </div>
  </div>

</div> 
<h2 class="text-center mb-4">Popular Business and Networking events in your area:</h2>
<div class="container">
   <div class="card-group">
      <div class="card mx-3">
         {% for event in events %}
         <img class="card-img-top" src={{event.image}} alt="event picture">
         <div class="card-body">
            <h5><a href="{{url_for('event.show', id=event.id)}}" class="card-title">{{event.name}}</a></h5>
            <p class="card-text">{{event.date}} {{event.time}} <br>
               {{event.location}} <br>
               Status: <button type="button" class="btn btn-success">{{event.status}}</button>
            </p>
         </div>
         <div class="card-footer"><small class="text-muted">Last updated at XX:XX</small></div>
         {% endfor %}
      </div>
   </div>
</div>
  {% endblock %}
 -->
